*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* ul{list-style-type:none;} */
#hWrap{
    width:1000px;
    margin:0 auto;
    position:relative;
}
#header{
    padding:20px 0;
    width:100%;
    position:relative;
}
#defaultSearch{
    width:100%;
    padding:0 200px;
    padding-bottom:10px;
    border-bottom:2px solid #888;
}
#defaultSearch .searchInput{
    display:flex;
    width:100%;
    height:30px;
    font-size:17px;
    border:1px solid #bbb;
    border-radius:10px;
    padding:0 10px;
    justify-content: space-between;
    align-items:center;
}
#searchWord{
    border:0;
    outline:0;
    height:100%;
    width:100%;
}
#searchFilter{
    position:relative;
    width:100%;
    padding:20px 50px;
}
#searchFilter .filterMore{
    text-align: center;
    position:relative;
    font-size: 25px;
    cursor:pointer;
}
#searchFilter .moreUp{border-bottom:2px solid #888;}
#searchFilter .moreDown{top:-20px;}
#searchFilter .moreUp .bi-chevron-compact-down{
    display:none;
}
#searchFilter .moreDown .bi-chevron-compact-up{
    display:none;
}
#searchFilter .filterDetail{
    width:100%;
    position:relative;
}
#searchFilter .filterDetail h3{
    font-size:20px;
    margin-bottom:10px;
}
#detailBox{
    width:100%;
    position:relative;
    border:1px solid #444;
}
#detailBox .detailList{
    border:1px solid #999;
    display:flex;
    align-items:center;
}
#detailBox .detailList .itemDt{
    padding:13px 0;
    align-self:stretch;
    display:flex;
    align-items:center;
    padding-left:10px;
    width:140px;
    background:royalblue;
    color:#fff;
}
#detailBox .detailList .itemDd{
    width:760px;
    padding:13px 8px;
}
.itemDd:nth-child(2), .itemDd:nth-child(3){
    display:flex;
    flex-wrap:wrap;
    column-gap: 20px;
    row-gap:5px;
}
.hide{display:none;}
#sort_wrap{
    display:flex;
    align-items:center;
    padding:10px 20px;
    margin-bottom:20px;
    border-bottom:1px solid #ddd;
    column-gap:20px;
}
#sort_wrap div{
    border:1px solid #aaa;
    border-radius:10px;
    padding:5px 10px;
}
#sort_wrap div:hover{
    cursor:pointer;
    background:royalblue;
    color:#fff;
}
#sort_wrap .asc .bi-caret-down{display:none;}
#sort_wrap .desc .bi-caret-up{display:none;}

/* ================= 본문 ==================== */
#section{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    column-gap:10px;
    row-gap:20px;
}
.item_short{
    width:495px;
    display:flex;
    box-shadow:1px 1px 3px #ddd;
}
.item_detail_box{
    width:295px;
    padding:0 5px 0 30px;
}
