*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background:	#ead5c6;
    color:#866475;
}
#wrap{
    width:90%;
    margin:20px auto;
}
#header{
    display:flex;
    align-items:center;
    gap:20px;
}
#article{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    margin-top:50px;
}
#article section{
    display:grid;
    grid-template-columns:repeat(3,minmax(125px, auto));
    grid-template-rows: 40px 80px 200px;
    gap:10px;
}
.title{
    grid-column:1/4;
    align-self:center;
}
.progress_long{
    grid-column: 1/3;
    background:#b7bdc9;
    border-radius:10px;
    display:flex;
    padding:10px;
    justify-content: space-between;
}
.progress_short{
    background:#b7bdc9;
    border-radius:10px;
}
.grape{
    grid-column: 1/4;
    background:#b7bdc9;
    border-radius:10px;
}
.progress_long p{
    align-self:end;
}
.progress_long p b{
    font-size:30px;
}
.progress_long .bi-caret-up-fill{
    color:red;
}
.progress_long .bi-caret-down-fill{
    color:#6082b6;
}