:root{
    --bs-green:#27a776;
    --bs-gray:#b9babb;
}

*{
    padding:0;
    margin:0;
    color:white;
    background:black;
}
#wrap{
    margin:0 auto;
    width:1680px;
    display:grid;
    justify-content: center;
    gap:20px;
    grid-template-columns:1fr;
    grid-template-rows:70px 380px 2800px 100px;
}
ul{
    list-style-type:none;
}

#nav{ 
    display:grid;
    grid-template-columns:repeat(3,1fr);
    padding:15px;
    align-items:center;
    position:sticky;
    top:0;
    z-index:10px;
}
.webTitle{
    font-size:30px;
}
.webTitle i{ color:var(--bs-green);}
.menu ul{
    display:grid;
    grid-template-columns:repeat(5, 1fr);
}
.sns{
    justify-self:end;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    column-gap:15px;
}
.sns i::before{color:var(--bs-gray);}
#main_text{
    display:grid;
    justify-content:center;
    height:250px;
    grid-template-rows:auto;
}
#main_text h2{
    font-size:40px;
}
#main_text p{
    justify-self: center;
}
#main_text a{
    justify-self: center;
    background:var(--bs-green);
    align-self:center;
    padding: 10px 30px;
    border-radius:5px;
}
#section{
    display:grid;
    grid-template-columns: repeat(4,400px);
    grid-template-rows:repeat(4, 300px);
    gap:20px;
    grid-auto-flow:dense;
}
.picture{
    border-radius:5px;
    overflow: hidden;
}
.picture:nth-child(1){
    background-image:url(../image/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column:auto / span 2;
    grid-row:auto/ span 2;
}.picture:nth-child(2){
    background-image:url(../image/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(3){
    background-image:url(../image/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(4){
    background-image:url(../image/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(5){
    background-image:url(../image/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3/5;
    grid-row:2/4;
}.picture:nth-child(6){
    background-image:url(../image/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(7){
    background-image:url(../image/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(8){
    background-image:url(../image/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(9){
    background-image:url(../image/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column:1/4;
    grid-row:5/7;
    background-position:center;
}.picture:nth-child(10){
    background-image:url(../image/10.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(11){
    background-image:url(../image/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(12){
    background-image:url(../image/12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(13){
    background-image:url(../image/13.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column:3/5;
    grid-row:7/10;
    background-position:center;
}.picture:nth-child(14){
    background-image:url(../image/14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(15){
    background-image:url(../image/15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}.picture:nth-child(16){
    background-image:url(../image/16.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}