*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#wrap{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: 100px 2300px 120px;
    justify-content: center;
}
#nav{
    justify-self:center;
    width:1320px;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    padding:20px;
    font-size:40px;
}
#nav b{justify-self: end;font-size:30px;}
.text h3{font-size:28px;padding-bottom:15px;}
.section{
    padding:20px;
    width:1320px;
    justify-self: center;
    display:grid;
    grid-template-rows:70px 840px 300px 510px;
    gap:110px;
}
.section:nth-child(1){
    display:grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
}
.menu a{text-underline-offset:5px;text-decoration: underline;}
.pic{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:1fr 1fr;
    gap:40px;
}
.picture{
    width:400px;
    height:400px;
    
    border:1px solid black;
}
