*{padding:0;margin:0;box-sizing: border-box;}
#section{
    width:1000px;
    margin:0 auto;
}
#like_wrap{
    width:100%;
    padding:60px 0;
}
.like_title{
    font-size:23px;
    font-weight: 700;;
    padding-bottom:60px;
}
.review_wrap{
display: flex;
width: 100%;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
row-gap: 50px;
flex-wrap: wrap;
}
.review{
    width:230px;
    position:relative;
}