*{padding:0;margin:0;box-sizing: border-box;}
#section{
    width:1000px;
    margin:0 auto;
}
#rec_wrap{
    width:100%;
    font-size:23px;
}
#title{
    margin:60px 0;
    font-weight: 700;
}
#content{
display: flex;
width: 100%;
justify-content: space-between;
align-items: flex-start;
align-content: flex-start;
row-gap: 50px;
flex-wrap: wrap;
}
#content .movie{
    width:230px;
    position:relative;
}