*{padding:0 ;margin:0;box-sizing: border-box;}
#section{width:1000px;margin:0 auto;}
.dv-rate{
    float:left;
    height:46px;
    padding:0 10px;
    display:block;
}

.dv-rate:not(:checked) > input {
    display:none;
}
.dv-rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space :nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
    text-shadow:0.08em 0.08em gray;
}
.dv-rate:not(:checked) > label:before {
    content:'★ ';
}
.dv-rate > input:checked ~ label{
    color:#ffc700;
}
.dv-rate:not(:checked) > label:hover ,
.dv-rate:not(:checked) > label:hover ~ label{
        color:#deb217;
}
.dv-rate > input:checked + label:hover ,
.dv-rate > input:checked + label:hover ~ label,
.dv-rate > input:checked ~ label:hover ,
.dv-rate > input:checked ~ label:hover ~ label,
.dv-rate > label:hover ~ input:checked ~label {
    color:#C59B08;
}


#wrap{
    width:100%;
}
#title{
    font-size: 23px;
    margin: 50px 0;
}
.content{
    width:100%;
    font-size:23px;
}
.t_input, .select_m{
    display:flex;
    flex-direction: column;
    margin-bottom:60px;
}
#star{
    height:100px;
}
#movie_point{
    width:100%;
    margin:50px 0;
}
.point_wrap{
    display:flex;
}