*{padding:0;margin:0;box-sizing: border-box;}
#section{
    width:1000px;
    margin:0 auto;
}
#mark_wrap{
    width:100%;
    padding:60px 0;
}
.mark_title{
    font-size:23px;
    font-weight: 700;;
    padding-bottom:60px;
}
.movie_wrap{width:100%;}
.m_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 50px;
    flex-wrap: wrap;
}
.mark{
    width:230px;
    position:relative;
}
.markMovie{
    width:100%;
    height:99%;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:20px;
    position:absolute;
    display:none;
}
.movieTitle{
    font-size:23px;
    font-weight:900px;
    text-align:center;
    padding:15px;
}
.summary{
    height:208px;
    overflow:hidden;
}
.mark:hover .markMovie.active {
    display: block;
}
.mark:hover {
    display:block;
}
@media (max-width:1194px) {
    #section{width:100vw;}
    #mark_wrap{width:90%; margin:0 auto;}
    .movie_wrap{overflow-x:scroll;}
    .m_box{width:1000px;}
}
@media (max-width:490px) {
    #section{width:100vw;height: 83vh;;}
    #mark_wrap{width:90%;margin:0 auto;}
    .movie_wrap{overflow-x:scroll;}
    .m_box{flex-wrap:nowrap; column-gap:10px;}
}