*{margin:0; padding:0; box-sizing: border-box;}
#section{
    width:1000px; margin:0 auto;
}
.content{
    width:100%;
}
.title{
    font-size:23px;font-weight: 900;margin: 30px 10px;
}
.review_wrap{font-size:17px;font-weight:0;}
.mr_box{width:100%;}
.view{display:flex;justify-content: space-between;
    text-decoration: none; color:#000;margin: 20px;}
.poster{width:230px;}
.myreview{width:70%;}
.m_title{font-size: 23px;font-weight: 900;margin:20px 0;
border-bottom:2px solid #000;}
.r_title{font-weight: 600;}
.r_con{margin:10px;}
@media (max-width:1194px){
    #section{width:100vw;}
}
@media (max-width:490px) {
    #section{width:100vw;height:82vh;}
    .content{width:90%;}
    .review_wrap{margin:20vh 0;font-size:12px; overflow-x: scroll;}
    .mr_box{display:flex;}
    .poster{width:150px;height:214px;}
    .myreview{width:150px;margin-left:5px;}
    .m_title{font-size: 17px;}
}