*{padding:0;margin:0; box-sizing: border-box;}
#section{
    width:1000px;
    margin:50px auto;
    position:relative;
}
#title{
    font-size:23px;
    font-weight:700;
    margin-bottom:50px;
}
#write{
    width:50px;
    height:50px;
    background:#F9C041;
    border-radius: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    position:absolute;
    top:200px;
    right:-100px;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
#search_box{
    width:330px;
    height:40px;
    border:1px solid #000;
    border-radius:30px;
    font-size: 20px;
    margin-bottom:20px;
}
#search{
    font-size:23px;
    border:0;
    height:40px;
    padding:0 20px;
    width:280px;
    background:rgba(0,0,0,0)
}
.list{
    width:100%;
    border-radius:10px;
    border-collapse:collapse;
}
.n{width:10%;}.t{width:60%;}.w{width:15%;}.d{width:15%;}
.n,.w,.d{
    text-align:center;
}
.t{
    text-decoration: none;
    color:#000;
}
thead tr{
    text-align:center;
    height:60px;
    border-bottom:3px double #000;
}
.con{
    width:1000px;
}
.con tr{
    height:50px;
    border-bottom:1px solid #000;
}
.page_list{
    width:500px;
    font-size: 17px;
    margin:25px auto;
    display:flex;
    justify-content: space-evenly;
    gap:10px;
}
.page_list a{
    color:#000;
    text-decoration: none;
}
@media (max-width:1194px) {
    #section{width:100vw; font-size: 17px;;}
    #wrap{width:90%;margin: 0 auto;}
    #write{top:70px;right:10px;}
    .main{width:100%;align-items:flex-start;}
    #search{font-size: 17px;;}

}
@media (max-width:490px) {
    #section{
        width:90%;
    }
    .main{
        width:100%;
        font-size:12px;
    }
    #write{
        width:25px;
        height:25px;
        line-height:25px;
        font-size:15px;
        top:70px;
        right:0;
    }
    #search_box{
        width:40%;
        height:30px;
    }
    #search_box i{
        display:none;
    }
    #search{
        width:100%;
        height:100%;
        font-size:12px;
        padding:0 10px;
    }
    .page_list{
        width:50%;
        font-size: 12px;
    }
}