main{
    width:100%;
    display:flex;
}
#makeup_title{
    font-size:20px;
}
#middle #makeup_wrap{
    width:100%;
    list-style:none;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    margin:80px 0;
}
#makeup_wrap li{
    width: 33%;
    font-size:17px;
    margin-bottom:30px;
    padding:0;
}
#makeup_wrap div{ padding:5px;}
#makeup_wrap .shop{font-size:23px;}
#makeup_wrap li img{
    width:100%;
    padding:10px 0;
}

#side{
    width:100px;
    display:inline-block;
    position:absolute;
    top:25px;
    right:0;
}
#side .login_bt a{
    color:#fff;
    text-decoration:none;
    background:	#769293;
    padding: 7px 0;
    width:100%;
    display:inline-block;
    border-radius:5px;
    text-align: center;
}
#side .login_bt a:hover{
    background:#bababa;
    color:#fad7d5;
}