*{ box-sizing : border-box;}
body, ul, p, h1,h2,h3,h4,h5,
ol,dl,dd{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
#wrap{
    width:85%;
    min-width:500px;
    max-width:1000px;
    margin: 50px auto;
}
.line{
    border-bottom:2px solid #a173bf;
}
#menu{
    display:flex;
    justify-content:space-around;
    margin-bottom:20px;
}
.menu_bt{
    font-size:25px;
    display:inline-block;
    padding:10px 20px;
    background:	#bbbbbb;
    color:#a173bf;
    border-radius:20px;
    font-weight:900;
}
.menu_icon{
    display:none;
    position:relative;
}
.strapIcon{
    font-size:30px;
    cursor: pointer;
}
/* 
.strapIcon:active ~ .menu_list{
    display:block;
} 
*/
.menu_list{
    display:none;
    position:absolute;  /* 기준점이 부모기준으로 바뀜 다른 녀셕에 영향을 받지 않음 */
    background:#fff;

    border:2px dashed #a173bf;
    width:100%;
}
.list_active{
    display:block;
}

/* 
    이하 : min-width;
    이상 : max-width;
    웹 제작을 pc우선으로 제작 시 max-width
    모바일 우선으로 제작 시 min-width
*/

@media screen and (max-width:786px) {
    #menu{
        display:block;  /*전체 공간을 사용하기 위해 변경 */
        position:relative;
    }
    .menu_icon{
        display:block;
    }
    .menu_bt{
        display:none;
    }
}