#lotto_data{
    width:900px;
    margin:0 auto;
}
.search_data{
    padding:20px 10px;
}
.tbl_data{
    width:900px;
    border-spacing: 0;
}
.col{
    border-top:2px solid black;
    background:#ddd;
    padding:15px 0;
}
.tbl_data tr td{
    border:1px solid #ddd;
    padding:10px 0;
    text-align: center;
}
.resultNumber{width:200px;}
.resultBouns{width:145px;}
.resultNumbersu{width:105px;}
.resultNumberGrade{width:105px;}
.num_645{
    width:34px;
    margin:0 1px 0 0;
    text-align:center;
    height:34px;
}
#btn_submit{
    margin:20px;
    text-align:center;
}
#btnDefault, #btnSearch{
    height:40px;
    line-height:36px;
    font-weight:700;
    padding:0 20px;
    font-size:15px;
}
#btnDefault{
    background:#f5f5f5;
    border:1px solid #ddd;
    color:rgb(61, 61, 61);
}
#btnSearch{
    color:rgb(255, 255, 255);
    background:	#e2e2e2;
    border:0px solid #e2c2fa;
}
.red{
    position:relative;
    color:red;
}
.red::after{
    content: "";
    position:absolute;
    top:0px;
    left:50%;
    margin-left:-1.5px;
    width:3px;
    height:3px;
    border-radius:100%;
    background:red;
}