/* 
그리드 컨테이너
- display:grid 를 적용하는, grid의 전체영역
    그리드 컨테이너 안의 요소들이 그리드 규칙의 영향을 받아 정렬된다.

그리드 아이템
- 그리드 컨테이너의 자식들
    그리드 규칙에 의해 배치가 된다.

그리드 트랙
- 그리드의 행과 열

그리드 셀
- 그리드의 한 칸을 가리키는 말, 그리드 아이템 하나씩을 셀이라고 한다.

그리드 라인
- 그리드 셀을 구분하는 선

그리드 번호
- 각 그리드 라인에는 1번부터 번호가 부여된다.
- 1행만 있는 경우 그리드 번호는 행번호 1,2가 있다.

그리드 갭
- 그리드 셀 사이의 간격


Grid 속성들은 flex와 마찬가지로 부모(컨테이너)에 적용하는 속성과 자식(아이템)에 적용하는 속성이 있다.
예시 : 부모에 주는 속성 justify-content, align-item
       자식에게 주는 속성 align-self

grid-template-columns 그리드 열의 각 셀의 너비
grid-template-rows 그리드 행의 각 셀의 높이
    - grid-template-columns: 100px 100px; 
    한 줄씩 2개의 너비를 100px 설정
    - grid-template-columns:150px 100px 200px;
    한줄씩 3개의 셀에 150px 100px 200px 씩 너비 설정
    repeat() 함수 - repeat(반복횟수, 반복값)
        repeat(4, 100px) 한줄에 4개씩 100px너비 설정
    minmax() 함수 - minmax(최소값, 최대값)
        minmax(100px, 300px) 각셀의 너비가 최소 100에서 최개 300까지 늘어나게 설정

auto-fill, auto-fit
- column의 갯수를 미리 정하지 않고 설정된 너비가 허용하는 한 최대한 셀을 채운다.

그리드 간격
-row-gap, column-gap
-grid 를 앞에 넣어서 쓰는 속성값을 사용하는 이유 브라우저 호환성문제로 여러 브라우저에서도 문제없이 쓸수 있게 설정

grid-auto-columns, grid-auto-rows
- template이 아닌 auto로 변경해주면 자동크기지정이라는 의미가 된다.
    횟수 지정 반복하지 않아도 부모(컨테이너)의 크기에 맞춰서 알아서 행과 열이 적용된다.
    단점은 통제를 벗어나 알아서 자동으로 설정되기 때문에 다루기 힘들다.
    크기를 통제하지않으면 전제 레이아웃 구성에 어려움이 생긴다.
    그래서 auto는 모바일용이나 소규모 레이아웃에 사용된다.

각 셀의 영역 지정 방법
 자식(그리드 아이템)에게 적용하는 속성

 grid-column-start, grid-column-end, grid-column,
 grid-row-start, grid-row-end, grid-row
*/

#conteiner{
    display:grid;
    /* grid-template-columns:repeat(5, 200px); */
    /* grid-template-columns:100px 200px auto; */
    /* grid-template-columns:repeat(5, 1fr); 
        5개의 아이템에 5분에1 크기로 너비 부여  (비율로 계산)*/
    /* grid-template-columns:1fr 2fr ; */
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-template-rows:repeat(5,100px);
    /* column-gap:10px;
    row-gap:20px; */
    /* 한번에 사용하는 방법 gap:(행간격, 열간격) */
    gap:20px 10px;
    /* gap:30px -> 행과 열 모두 30px 간격설정 */

    row-gap:20px;
    column-gap:10px;
    grid-row-gap:20px;
    grid-column-gap:10px;

    grid-template-areas:
    "head head head"
    "sideA main sideB"
    ". . ."
    "foot foot foot";
}

.item{
    color:navy;
    font-size:30px;
    border:2px solid navy;
}
.item:nth-child(1){grid-area:head;}
.item:nth-child(2){grid-area:sideA;}
.item:nth-child(3){grid-area:main;}
.item:nth-child(4){grid-area:sideB;}
.item:nth-child(5){grid-area:foot;}
/* .item:nth-child(1){
    grid-column:2;
}
.item:nth-child(3){
    grid-column:2;
}
.item:nth-child(4){
    grid-row:1/4;;
} */
/* .item:first-child{
    table과 차이점 - 합치는것이 아니라 늘어나는 것이라 한줄이 더 생긴다.
    grid-column-start:1;
    grid-column-end:3;
}
.item:nth-child(4){
    grid-column:1/3;
    grid-row:5/7;
}
.item:nth-child(3){
    grid-row:3/5;
    grid-column:1/4;
} */
