*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-size:30px;
}
#container{
    display:grid;
    width:1000px;
    grid-template-columns:repeat(5,20%);
    grid-template-rows: 50px 100px 150px 300px 500px;
    gap:20px;
}
.item{
    border:2px solid gray;
    text-align:center;
    border-radius:10px;
}
.item:nth-child(1){
    grid-row: 1/6;
}
.item:nth-child(2){
    z-index:1;
    transform: translate(-111px, 0px)scaleX(1.254);
} 
.item:nth-child(2), .item:nth-child(3), .item:nth-child(10){
    grid-column: auto/span 4;
}
.item:nth-child(8), .item:nth-child(9){
    grid-column: auto/span 2;
}
