*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{list-style-type: none;}
#wrap{
    width:800px;
    max-width:1000px;
    min-width:700px;
    margin:0 auto;
}
#chart_wrap{
    width:100%;
    margin-top:50px;
    display:none;
}
#chart_wrap div{
    width:1000px;
    display:flex;
}
#chart, #incomeChart{
    width:500px;
    height:400px;
}
.sideclose{/*side  접혀있는 모습  */
    position:absolute;
    left:-300px; top:0;
    padding:100px 50px;
    display:flex;
    flex-direction: column;
    background:#222845;    color:#fff;
    height:100%;    row-gap:20px;    width:300px;
    transition: left 1s ease;
}
.close{ /* 접혀있을때 아이콘 모습 */
    position:absolute;
    top:45px;
    left:400px;color:#222845;
    font-size:30px;    cursor:pointer;
    transition: left 1s ease 0.5s;
}
.open{    left:50px;color:#fff;} /*  펼쳐 질때 아이콘 모습 */
.sideopen{    left:0;  position:fixed}   /* side 펼치면  */
#word, #money{
    height:30px; 
    border-radius: 5px; 
    padding:0 5px; 
    outline: none;
    border:0;
    font-size:17px;
}
#side h3{border-top:2px solid #aaa; padding-top:10px;}
#category li{
    display:flex; align-items: center;
    column-gap: 10px;
    padding:2px 0;
}
#category input[type=checkbox]{
    height:17px;width:17px;
}
#money{
    width:150px;
}


#main{
    width:100%;
}
.title{
    margin-top:50px ;
    padding-left:55px;
}
.expen_t, .income_t{
    width:700px;
    margin:20px auto;
}
table{
    width:100%;
    border-collapse: collapse;
}
table thead tr{
    width:100%;
    border:2px solid #aaa;
    font-size: 22px;
}
#expen tbody .moneyText{ color: red;}
#income tbody .moneyText{color: green}
.cate, .m, .c{
    padding:5px;
    background:#595c7a;
    color:#fff;
}
.cate{width:15%;border-right:1px dashed #ddd;}
.m{width:20%;border-right:1px dashed #ddd;}
.c{width:40%;}
tbody{
    border:1px solid #aaa;
}
.categoryText, .moneyText, .detailText{
    text-align:center;
    border-bottom:1px solid #aaa;
    padding:3px;
    font-size: 17px;
    border-right:1px dashed #ddd;
}
#bt_box{
    width:100%;
    display:flex;
    justify-content: space-around;
}
.chart_bt, .list_bt{
    font-size:20px;
    padding: 5px 10px;
    background:#b175dc;
    color:#fff;
    border:0;
    border-radius:5px;
}
.list_bt{background:#595c7a;}
.chart_bt:hover, .list_bt:hover{
    background:#595c7a;
}