*{padding:0;margin:0;box-sizing: border-box;}
#main{width:100%;margin:0 auto; 
}
.back{
    width:100%;height:100vh;
    background:url("../img/background.png");

    position: fixed;
    z-index:-10;
}
.nav_wrap{
    width:100%;
    position:fixed;
    background: rgba(112, 79, 79, 0.235);
    z-index:1000;
}
.nav{
    display:flex;
    justify-content: end;
}
.nav li{
    padding:20px;
    list-style: none;
}
.nav li a{
    color:#ffffff;font-size:30px;
    text-decoration: none;
}
#section{
    transition: transform 1s;
}
.sections{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
}
#home{
    height:100vh;
    background:url("../img/main.png");
    background-size:cover;
    display: grid;
    place-items: center;
}
#home div{
    width: 22ch;
    animation: typing 2s steps(22)  alternate, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3em;
}
@keyframes typing {
    from {
        width: 0;
    }
}
      
@keyframes blink {
    50% {
        border-color: transparent
    }
}

#about{
    padding: 100px 0;
}
.card{
    width:1000px;
    margin: 100px auto;
    background: #fff;
    padding:10vh;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
    position:relative;
}
.c_t{
    position:absolute;
    top:30px;
    left:50px;
    font-size:30px;
    font-weight:800;
}
.card div{padding: 10px;}
.card div i{padding:0 10px;}
#skill_wrap{
    width:1000px;
    margin:0 auto;
    padding-top:100px;
}
#skill{
    background:#fff;
    width:100%;
}
#skill div img{
    height: 80px;
    padding: 20px;
}

.pj_1,.pj_2,.pj_3{
    width:300px;
    height:500px;
    overflow: hidden;
    background:#fff;
    border-radius:15px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    margin:100px 50px;
    text-align: center;
}
.pj_1 a,.pj_2 a,.pj_3 a{
    text-decoration: none;
    color:black;
    border-radius: 5px;
    padding: 3px 10px;
    background:#F3D3B7;
}
.pj_logo{
    height:300px;
}
.pj_logo img{
    width:100%;
    padding:10px;
}