#content{
    position:relative;
    width:100%;
}
#main{
    position:relative;
    width:100%;
    color:#333;
}
.happening{
    width:98%;
    margin:0 auto;
    position:relative;
    z-index:999;
    padding-bottom:30px;
    background:#fff;
    margin-top:-90px;
}
.happening .headline{
    background:#690;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:#fff;
}
.happening .headline h2{
    font-size:37px;
    padding:5px 35px;
}
.happening .headline .email_button{
    padding-right:30px;
}
.happening .headline .email_button a{
    color:#fff;
    background:#4b7000;
    display:inline-block;
    padding:7px 15px;
    margin-left:15px;
    font-weight:900;
}
#slider{
    margin:15px 14px;
    position:relative;
    min-height:200px;
}
#slider .viewport{
    overflow:hidden;
    position:relative;
}
#slider .viewport .eventslide{
    display:flex;
    column-gap:20px;
    width:2496px;
}
#slider .viewport .eventslide .slide_item{
    width:292px;
    overflow:hidden;
    position:relative;
}
#slider .viewport .eventslide .slide_item a h4{
    color:#690;
    font-size:1.35em;
}
#slider .viewport .eventslide .slide_item a img{
    width:292px;
    height:193px;
}
#slider .viewport .eventslide .slide_item b{
    color:#333;
    border-top:2px solid #ddd;
    margin-top:4px;
    display:inline-block;
    width:100%;
}
#slider .viewport .eventslide .slide_item p{
    margin-top:0.2em;
    font-size:0.9em;
    line-height:1.2em;
    /* 
    em - 부모의 크기기준으로 배율
    rem - html의 기본 font-size 기준배율 적용
    */
}
#slider .direction-nav .next{
    position:absolute;
    position:absolute;
    top:90px;
    right:-20px;
    background:#f90;
    font-size:36px;
    padding:2px;
    width:50px;
    height:50px;
    text-align:center;
    color:#fff;
    border-radius:5px;
}
#slider .direction-nav .prev{
    position:absolute;
    top:90px;
    left:-20px;
    background:#f90;
    font-size:36px;
    padding:2px;
    width:50px;
    height:50px;
    text-align:center;
    color:#fff;
    border-radius:5px;
}
#slider .direction-nav .prev:hover, #slider .direction-nav .next:hover{
    background:#e69a00;
    cursor:pointer;
}
#slider .viewport .eventslide{
    transform: translate(0px, 0px,0px);
    transition: transform 1s ease;
}
