*{ box-sizing : border-box;}

body, ul, p, h1,h2,h3,h4,h5,
ol,dl,dd{
    margin:0;
    padding:0;
}
h1{
    text-align:center;
    font-family:sans-serif;
}
#start{
    width:180px;
    font-size:30px;
    border-radius:10px;
    background:#dfdbd0;
    margin-top:50px;
    border:0;
}
#bt_wrap{
    text-align: center;
}
#start:hover{
    color:#dfdbd0;
    background:	#33352b;
}
#bingo{
    width:400px;
    margin:50px auto;
    border-spacing: 0;
    border:1px solid#33352b;
}
.bingo{
    border:1px solid#33352b;
    width:80px;
    height:80px;
    text-align:center;
}