#main img{
    width:100%;
}
#side .login_bt{
    padding: 10px 10px;
}
#side .login_bt a{
    color:#fff;
    text-decoration:none;
    background:	#769293;
    padding: 7px 0;
    width:100%;
    display:inline-block;
    border-radius:5px;
    text-align: center;
}
#side .login_bt a:hover{
    background:#bababa;
    color:#fad7d5;
}