
#side .login_bt a{
    height:50px;
    color:#fff;
    font-size:30px;
    text-decoration:none;
    background:	#769293;
    padding: 7px 0;
    width:100%;
    display:inline-block;
    border-radius:5px;
    text-align: center;
}
#side .login_bt a:hover{
    background:#bababa;
    color:#fad7d5;
}
#side .user a{
    color:#fff;
    text-decoration:none;
    background:	#769293;
    padding: 7px 0;
    width:100%;
    display:inline-block;
    border-radius:5px;
    text-align: center;
}
#side .user a:hover{
    background:#bababa;
    color:#fad7d5;
}
#content{
    width:100%;
}
#qsList .qsTitle{
    width:97%;
    margin:10px 0;
    display:flex;
    justify-content: space-between;
    height:50px;
    
    border-bottom:3px solid #b8c85e;
}
.qsTitle h2{
    font-size:30px;
}
.qsTitle a{ 
    width:120px;
    height:30px;
    line-height:30px;
    margin:auto 0;
    background:#b8c85e;
    color:#fff;
    border-radius:5px;
    text-align:center;
    font-size:20px;
    text-decoration: none;
}
.search_wrap{
    width:80%;
    border:1px solid #769293;
    border-radius:3px;
    height:40px;
    font-size:25px;
    padding:3px;
}
.search_wrap i{
    color:#e28274;
}
.search_wrap input{
    width:80%;
    border:0;
    font-size:25px;
}
.qsList_box{
    width:100%;
}
.qsList_box table{
    width:100%;
    margin-top:20px;
    border-collapse: separate;
    border-spacing: 10px;
}
.qsList_box table thead{
    font-size: 20px;
    border-bottom:1px solid #769293;
}
.qsI{width:10%; text-align:center;}
.qsT{width:35%;}
.qsW{width:25%; text-align:center;}
.qsD, .qsTo{width:15%; text-align:center;}
.qsList_box table .qs tr{
    font-size:17px;
    border:1px solid #6c7481;
}

#qsModal{
    position:fixed;
    width:100%;
    height:100vh;
    top:0; left:0;
}
#qsModal .modalBackground{
    position:absolute;
    width:100%; height:100%;
    background: rgba(0,0,0,0.6);
}
#qsModal .qsInputBox{
    position:absolute;
    background:#fcf4cb;
    width:450px;
    padding: 50px 80px;
    border-radius:10px;
    top:50%; left:50%;
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    row-gap:10px;
}
.qsInput{
    display:flex;
    align-items: center;
}
.qsInput label{width:20%; font-size:14px; opacity: 0.4;}
#title{
    height:30px; font-size:17px; padding:3px 15px;
    width:80%; border:0; border-radius:5px;
    order:2;
}
#title:focus + label{opacity :1; font-size: 12px; font-weight:800;}
#qsContent{
    order:2; resize:none; width:80%; height:300px; border:0;
    padding:3px 10px; font-size: 17px;
}
#qsContent:focus + label{opacity :1; font-size: 12px; font-weight:800;}
.qsRegBt{
    text-align:center;
}
.qsRegBt a{
    display:inline-block;
    padding: 10px 100px;
    background:#e28274;
    color:#fcf4cb;
    text-decoration: none;;
}
