.link{width:fit-content;}
button{
  display:flex; align-items: center; gap:15px;
  padding: 0; /* 내부 패딩 제거 */
  margin: 0; /* 마진 제거 */
  border: none; /* 테두리 제거 */
  background: none; /* 배경 제거 */
  font: inherit; /* 기본 글꼴 사용 */
  cursor: pointer; /* 커서를 포인터로 변경 */
  outline: none; /* 포커스 효과 제거 */
}
.screen {
    width:100%;
    position: relative;
    left:50%; transform:translateX(-50%);
    background-color: #000000;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  @media(max-width:1194px){
    /* .screen{width:calc(100% - 30px);} */
    .screen{width:100%;}
  }

  .screen .video{
    width:100%;
  }

  .screen #mainTrailer{
    width:100%; height:fit-content;
  }
  @media(max-width:1194px){
    .screen #mainTrailer{
      width:100%;
    }
  }

  
  
  .screen .iframe {
    display:flex; justify-content: center; align-items: center;
    position: relative;
    width: 1000px;
    overflow:hidden;
    left:50%; transform:translateX(-50%);
  }
  @media(max-width:1194px){
    .screen .iframe{width:100%;}
  }
  .screen .iframe:before,
  .screen .iframe:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 80px;
    
  }
  .screen .iframe:before{
    background: linear-gradient(to right, rgba(0, 0, 0, 1), transparent);
    left:0;
  }
  .screen .iframe:after{
    right:0;
    background: linear-gradient(to left, rgba(0, 0, 0, 1), transparent);
  }
  
  .screen .rectangle {
    height: 100%;
    object-fit: cover;
    position: absolute;
    width: 1000px;
    left:50%; transform:translateX(-50%);
  }
  @media(max-width:1194px){
    .screen .rectangle {width:100%;}
  }
  @media(max-width:490px){
    .screen, .screen .video, .screen .iframe{width:100%;}
    .screen .iframe{height:200px;}
    .screen .rectangle {height:fit-content;}
  }
  
  .screen .div {
    height: 100%; width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgb(9, 17, 38) 100%);
    position: absolute;
    top: 0; left:0; z-index:1;
  }
  
  .screen .controler {
    width:1000px;
    opacity: 0.8;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom:3%;
    z-index:3;
  }
  @media(max-width:1194px){
    .screen .controler{
      left:auto; right:2%;
      bottom:2%;
    }
  }
  @media(max-width:490px){
    .screen .controler{
      width:fit-content;
      bottom:3%;
      transform-origin: 100% 100%;
      transform: scale(0.65);
      flex-direction: column-reverse;
      align-items: end;
      gap:5px;
    }
    .screen .playPause{display:none;}
  }

  
  .screen .detail {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
    cursor:pointer;
  }

  .screen .detail a {
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    cursor:pointer;
  }
  
  .screen .more {
    position: relative;
    width: fit-content;
    font-family: var(--semi-title-font-family);
    font-weight: var(--semi-title-font-weight);
    color: var(--white);
    font-size: var(--semi-title-font-size);
    letter-spacing: var(--semi-title-letter-spacing);
    line-height: var(--semi-title-line-height);
    white-space: nowrap;
    font-style: var(--semi-title-font-style);
  }
  
  .screen .chevron-right {
    position: relative;
    width: 14px;
    height: 24px;
  }
  
  .screen .img {
    position: relative;
    width: 36px;
    height: 36px;
  }

  


  /**/


  .div-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    position: relative; left:50%;
    transform:translateX(-50%);
    margin:100px auto;
  }
  
  .div-wrapper .top {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .div-wrapper .frame {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .div-wrapper .title {
    position: relative;
    width: 222px;
    margin-top: -1px;
    font-family: 'SUITE-Regular';
    font-weight: 700;
    color: var(--font-black);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .div-wrapper .div {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: 'SUITE-Regular';
    font-weight: 700;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  @media(max-width:490px){
    .div-wrapper .div{font-size:30px;}
  }
  .div-wrapper .div a{ color:black; }
  .div-wrapper .div:hover{
    transition:all 1s ease;
    transform: rotate(180deg);
  }
  
  .div-wrapper .posters {
    display: flex;
    width: 1000px; height:fit-content;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    overflow-x: scroll;
    column-gap:10px;
    scroll-behavior: smooth;
  }

  .div-wrapper .ranking{
    width:50px; height:50px;
    background:#B91646;
    color:white; font-size:20px;
    font-weight:bolder; border-radius: 0px 10px 10px 10px;
    opacity: 0.9;
    display:flex; align-items: center;
    justify-content: center;
    position:absolute; z-index:10;
    /* box-shadow:inset 0px 0px 5px 4px rgba(0, 0, 0, 0.29); */
  }
  @media(max-width:490px){
    .div-wrapper .ranking{
      transform:scale(0.65);
      transform-origin: 0 0;
    }
  }

  .div-wrapper .posters .bi{
    z-index:10;
    height:321.99px;
    position:fixed;
    font-size:40px; color:white;
    display:flex; align-items: center;
    background-color: rgba(0,0,0, 0.);
    transform:translateY(-2px);
    background-color: rgba(0,0,0, 0.15);
  }
  @media(max-width:1194px){
    .div-wrapper .posters .bi{
      height:280px;
      transform:translateY(-1.5px);
    } 
  }
  @media(max-width:490px){
    .div-wrapper .posters .bi{display:none;}
  }
  .div-wrapper .posters .bi:hover{
    transition:all 0.5s;
    cursor:pointer;
    background-color: rgba(0,0,0, 0.5);
  }
  .div-wrapper .posters .bi-chevron-compact-left{
    left:0;
  }
  .div-wrapper .posters .bi-chevron-compact-right{
    right:0;
  }



  .div-wrapper .rectangle {
    position: relative;
    width: 232px;
    height: 322px;
    object-fit: cover;
    cursor:pointer;
  }

  @media(max-width:1194px){
    .div-wrapper{
      width:calc(100% - 30px);
    }
    .div-wrapper .top { gap:15px; width:100%; }
    .div-wrapper .posters{
      height:fit-content; width:100%;
      padding-bottom:10px;
      column-gap:10px;
      padding-bottom:0;
    }
    .div-wrapper .rectangle {
      width:fit-content; height:280px;
    }
  }

  @media(max-width:490px){
    .div-wrapper{margin:50px auto; gap:50px; }

 
    .div-wrapper .title{
      font-size:23px;
    }

    .div-wrapper .top { gap:15px; }

    .div-wrapper .img, .div-wrapper > .div,
    .div-wrapper .rectangle {
      width:fit-content; height:200px;
    }
    
    .div-wrapper .link{
      display:inline-block; width:93px; height:130px;
    }
    .div-wrapper .link .rectangle{width:93px; height:130px;}
  }


  
  ::-webkit-scrollbar{
    height:0px;
    background: gray;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb{
    background:#454545;
    border-radius: 10px;
  }
  @media(min-width:1194px){
    ::-webkit-scrollbar{display:none;}
  }
  @media(max-width:490px){
    ::-webkit-scrollbar{
      height:0px;
    }
  }
