a{width:185px; height:fit-content; position: relative;}
button{border:none; background: white; text-align: left; cursor:pointer;}
form{position:relative;}

.content {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: flex-start;
    gap: 50px;
    padding: 50px 0px 100px;
    margin:0 auto;
  }
  
  .content .title {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .content .mainTitle {
    position: relative;
    font-family: var(--semi-title-font-family);
    font-weight: 700;
    color: #000000;
    font-size: 30px;
  }

  .content .blankMsg{
    width:100%;
    font-size:30px;
    text-align: center;
  }

  .content .isRls{
    width:100%;
    padding-top:50px;
    /* border-top:5px double gray; */
    font-size:20px; font-weight: bolder;
  }
  
  .content .results {
    width:100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:calc((1000px - (185px * 5)) / 4);
    row-gap: 40px;;
    position: relative;
  }
  
  .content .template {
    display: flex;
    flex-direction: column;
    width: 185px;
    align-items: flex-start;
    gap: 10px;
    position: relative;
  }
  
  .content .rectangle {
    position: relative;
    width: 185px;
    height: 265px;
    object-fit: cover;
  }
  
  .content .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .content .div {
    width: 185px;
    text-overflow: ellipsis;
    overflow:hidden;
    margin-top: -1px;
    font-family: var(--semi-title-font-family);
    font-weight: var(--semi-title-font-weight);
    font-size: var(--semi-title-font-size);
    white-space: nowrap;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: var(--semi-title-letter-spacing);
    line-height: var(--semi-title-line-height);
    font-style: var(--semi-title-font-style);
  }
  
  .content .line {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: var(--collection-1-black);
  }
  
  .content .normalFont {
    width: fit-content;
    font-family: var(--base-fontsize-font-family);
    font-weight: var(--base-fontsize-font-weight);
    font-size: var(--base-fontsize-font-size);
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: var(--base-fontsize-letter-spacing);
    line-height: var(--base-fontsize-line-height);
    font-style: var(--base-fontsize-font-style);
  }
  
  .content .running-time {
    display: flex;
    width: 308px;
    align-items: flex-start;
    gap: 38px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -123px;
  }
  
  .content .bold {
    width: fit-content;
    margin-top: -1px;
    font-family: var(--semi-title-font-family);
    font-weight: 900;
    font-size: 17px;
    position: relative;
    color: var(--collection-1-black);
    letter-spacing: 0;
    line-height: normal;
  }
  
  .content .movieName{
    position:absolute;
    top:40%; left:30%;
    text-align: center;
    border-radius: 10px;
    white-space:nowrap;
    font-size:22px;
    font-weight:900;
    background:rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(10px);
    z-index:1000;
    padding:3px 15px;
    transform-origin: 50% 50%;
    transform:translate();
  }
  
  .show{display:none;}