#wrap{
    width:80%;
    max-width:600px;
    min-width:300px;
    margin:50px auto;
}
img{
    width:100%;
}
#start{
    width:200px;
    margin:20px auto 50px auto;
    display:block;
    font-size:40px;
    border:0;
    background:#b0bef7;
    color:#fcf9f4;
    padding:10px;
    border-radius:15px;
}
#start:hover{
    background:#254038;
    color:#b0bef7;
}
.picture{
    width:150px;
    height:150px;
    border:2px solid #b0bef7;
    text-align:center;
}
.a{
    display:none;
}
table div{
    width:80%;
    max-width:500px;
    min-width:300px;
    margin:50px auto;

}