.cafe{
    width:500px;
    margin:10px 0;
    padding:20px 30px;
    border:1px solid black;
    background:	#eedab5;
    
}
.custom{
    width:400px;
    display:flex;
    justify-content:space-between;
    font-size:20px;
    font-weight:800;
    margin-bottom:10px;
    color:#362323;
}
.custom input[type=text]{
    width:230px;
    height:25px;
    font-size:20px;
    font-weight:600;
    background:	#eedab5;
    color:#855b5b;
}
.cafe button{
    font-size:25px;
    position:relative;
    right:0;
    background:#362323;
    color:#eedab5;
}
#order_result{
    margin:10px 0;
    padding:20px 0;

}
.menu{
    width:300px;
    height:300px;
    background-image:url(../image/menu.png);
    background-size:cover;
    
}

