body,ul,p,h1,h2,h3,h4,h5{
    padding:0;
    margin:0;
}

#wrap{
    width:100%;
    position:relative;
    top:0;
    left:0;
    background-color:#d6d1d1;
}

#header,#section_wrap,#footer{
    width:100%;
    max-width:1200px;
    min-width:800px;
    margin:0 auto;
    position:relative;
}


#header{
    display:flex;
    background:#5a86ad;
    align-items: center;
    padding:10px 10px;
    box-sizing:border-box;
}
.logo{ width: 100px;}
.logo img{ width:100%;}

.menu{
    /* width:calc(  100% - 140px ); */
    flex-grow:1;
}
.menu ul{
    font-size:25px;
    list-style-type:none;
    display:flex;
    justify-content:space-around;
}


#sction_wrap{
    display:flex;
    flex-direction:column;
}
#section_top{
    order:1;
    display:flex;
}
.slider{
    width:400px;
}
.slider img{
    width:100%;
}
.gallery{
    width:500px;
    padding:10px;
    box-sizing:border-box;
}
.gallery_box{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap:10px;
}
.thumbnail{
    width:30%;/*빈공간 값을 준다*/
    height:100px;
    overflow:hidden;
}
.thumbnail img{
    width:100%;
}
.popularSearch{
    background:#5d90bc;
    flex-grow:1;
}

#section_bottom{
    order:2;
    display:flex;
}
ul{
    list-style-type: none;
}
.latest_post{
    padding:20px;
    box-sizing:border-box;
    width:25%;
    background:#8a9a5b;
}
.latest_post .latest{
    cursor: pointer;
    padding:5px;
}
.popular_post{
    padding:20px;
    box-sizing:border-box;
    width:25%;
    background:#9caf88;
}
.popular_post .popular_list{
    cursor:pointer;
    padding:5px;
}
@font-face
{
    font-family:'Meta';
    src:url('https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2');
    font-style:normal;
    font-weight:normal;
}
.banner{
    flex-grow:1;
    box-sizing:border-box;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background:#8a9a5b;
}
/* 
font-variation-settings - 폰트의 설정을 일괄적으로 설정해준다.
폰트 두께, 폰트 기울기, 폰트 너비를 설정할 수 있다.
wght는 폰트 두께, ital는 이탤릭체, wdth는 너비

transparent - 투명도 설정
-webkit-: 구글, 사파리 브라우저에만 적용
-moz-: 파이어 폭스 브라우저에만 적용
-ms-: 익스플로어, 엣지에만 적용
-o-: 오페라 브라우저에만 적용
접두어-text-stroke: 글씨 외곽선
transition : css의 속성을 변경할 때속도조절
transition: css의 속성명 시간(단위는 초, 표기는 s)
text-shadow:수평거리, 수직거리, 흐림정도 색;
*/
.banner main{
    font-variation-settings: 'wght'900, 'ital'1;
    font-size:60px;
    font-family:'meta', sans-serif;
    color:transparent;
    text-align: center;
    -webkit-text-stroke:4px #202a44;
    transition: all 0.5s;
    text-shadow:5px 5px 5px #d6d1d1, 8px 8px 0px #5d90bc,
    11px 11px 0px #d6d1d1, 14px 14px 0px #9caf88,
    34px 34px 10px #202a44;
}
.banner main:hover{
    font-variation-settings:'wght'250, 'ital'0;
    text-shadow:none;
}
.social{
    flex-grow:1;
    font-size:40px;
    background:#9caf88;
    color:#202a44;
    display:flex;
    align-items: center;
    justify-content:space-around;
}



#footer{
    display:flex;
    justify-content:space-between;
    background: #202a44;
    color:#d6d1d1;
    padding:10px 10px;
    box-sizing:border-box;
}
#footer div{
    align-self:flex-end;
}