.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #d9d9d9;
}

.footer .footer-container {
  flex-direction: column;
  width: 1000px;
  gap: 18px;
  padding: 0px 20px 50px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}
@media(max-width:1194px){
  .footer .footer-container{
    width:100%; padding:0 0 20px 0; gap:0;
  }
}

.footer .navbar {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  padding: 20px 0px;
  position: relative;
  flex: 0 0 auto;
}
@media(max-width:600px){
  .footer .navbar{
    width:calc(100vw - 15px);
    gap:0px; justify-content: space-between;
  }
  .footer .navbar div{
    font-size:90%;
  }
}
@media(max-width:490px){
  .footer .navbar {
    gap:15px; 
  }
  .footer .navbar div{
    font-size:10px;
  }
}
@media(max-width:323px){
  .footer .navbar{
    flex-wrap: wrap;
  }
}

.footer .normalFont {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.footer .bold {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.footer .footer-info {
  justify-content: space-between;
  padding: 30px 0px 0px;
  align-self: stretch;
  width: 100%; gap:20px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}
@media(max-width:1194px){
  .footer .footer-info{
    width:calc(100% - 15px); align-self:center;
    gap:10px; padding:2% 0px 0px; justify-content: space-between;
  }
}


.footer .union {
  position: relative;
  width: 300px;
  height: 58.62px;
}
@media(max-width:660px){
  .footer .union{width:50%;}
}
@media(max-width:490px){
  .footer .union{display:none;}
}

.footer .info-box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}
@media(max-width:660px){
  .footer .info-box p, .footer .info-box div{ font-size:75%; word-wrap:break-word; }
}
@media(max-width:490px){
  .footer .info-box {align-items: center; width:100%;}
  .footer .info-box p{font-size:14px;}
  .footer .info-box .h{display:none;}
}

.footer .copyRight{
  text-align: center;
  width:100%;
  text-overflow:ellipsis;
  overflow:hidden;
}