:root{
    --bg-color:#222845;
    --default-font:#eee;
    --button-color:#31d0b1;
    --label-size:17px;
    --input-size:20px;
    --line-color:#ccc;
    --chat-bg-color:#fff;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
ul{ list-style-type: none;}
input{ border:0; outline: none;}
textarea{resize: none;}
span, b{display:inline-block;}
a{ text-decoration: none; }

body{
    background: var(--bg-color);
}
#wrap{
    width:700px;
    margin:30px auto;
}
#chat_input_box{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap:10px;
    color: var(--default-font);
}
.chat_input{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: end;
    font-size:var(--label-size);
}
.chat_input #writer{
    width:400px;
    margin-left:20px;
    height:30px;
    font-size: var(--input-size);
    border-radius:7px;
    padding:3px 10px;
}.chat_input #content{
    width:400px;
    height:80px;
    margin-left:20px;
    border-radius: 7px;
    padding:3px 10px;
}
.input_bt a{
    color:var(--default-font);
    font-size:30px;
    padding:5px 20px;
}

#chat_list_box{
    width:100%;
    height:700px;
    margin-top:30px;
    border:1px solid var(--line-color);
    border-radius: 10px;
    background:var(--chat-bg-color);
    overflow: scroll;
    padding:10px 20px;
}
#chat_list{
    width:100%;
}
.chat{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid var(--line-color);
    padding:10px 0;
}
.write_info{
     display:flex;
     flex-direction: column;
}
.date{font-size:12px;}