.coin{
    display:flex;
    justify-content:center;
}
.coin img{
    width:300px;
}

.select{
    display:flex;
    justify-content: center;
    margin:50px 0;
}
.select b{
    display:inline-block;
    font-size:30px;
    padding:20px 50px;
    background-color:#f8f8d8;
    color:#f8c7b8;
    border:1px solid #eedebe;
}
.select b:hover{
    background-color:#f8c7b8;
    color:#f8f8d8;
}