*{padding:0;margin:0;box-sizing: border-box;}
#section{
    width:1000px;
    margin:0 auto;
}
#like_wrap{
    width:100%;
    padding:60px 0;
}
.like_title{
    font-size:23px;
    font-weight: 700;
    padding-bottom:30px;
}
.review_wrap{width:100%;}
.r_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    row-gap: 50px;
    flex-wrap: wrap;
}
.review_l{
    max-height:275px;
    overflow:hidden;
}
.review{
    width:fit-content;
    position:relative;
}
.review img{
    height:100%;
    width:100%;
}
.likeReview{
    width:fit-content;
    height:100%;
    position:absolute;
    background:rgba(0,0,0,0.5);
    color:white;
    padding:15px;
    opacity: 0;
    overflow:hidden;
    z-index:10;
    display:flex;
    flex-direction: column;
    row-gap:10px;
}
@media(min-width:490px){
    .review:hover .likeReview.active {
        transition:all 0.5s ease;
        opacity: 1;
    }
    .review:hover {
        transition:all 0.5s ease;
        opacity: 1;
    }
}
@media (max-width:1194px) {
    #section{width:calc(100% - 30px);}
    .r_box{
        display:grid; column-gap: 15px; row-gap:15px;
        grid-template-columns: repeat(4, 1fr);
    }
    .review{width:100%; overflow: hidden; height:100%;}
    #like_wrap{width:100%; margin:0 auto;}
    .review img{
        position:relative;
        left:50%; transform:translate(-50%);
        width:100%; height:100%;
    }
}
@media (max-width:700px){
    .r_box{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width:350px) {
    .r_box{
        grid-template-columns: repeat(2, 1fr);
    }
}