*{padding:0;margin:0;box-sizing: border-box;}
#section{
    width:1000px;
    margin:0 auto;
}
#section .alert_font{
    text-align: right;
    font-size:20px;
    padding-bottom:10px;
}
#rec_wrap{
    width:100%;
    font-size:23px;
    margin: 100px 0;
}
#con_box{width:100%;}
#content{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap:50px;
}
#title{margin-bottom:15px;}
#content .movie{position:relative;}
#content .movie a{
    position:relative;
    display:flex;
    flex-direction: column;
    row-gap: 10px;
}

#content .movie b{
    display:inline-block;
    width:231.97px; height:1.3em;
    overflow:hidden;
    text-overflow: ellipsis;
}
#content .movie .imgWrapper{width:100%; height: 330px; overflow:hidden; }
#content .movie img{ height:100%; }

#content .movieName{
    display:none;
    position:absolute;
    top:85%; left:20%;
    text-align: center;
    border-radius: 10px;
    white-space:nowrap;
    font-size:22px;
    font-weight:900;
    background:rgba(255, 255, 255, 0.452);
    backdrop-filter: blur(10px);
    z-index:1000;
    padding:3px 15px;
  }
  
  #content .show{display:block;}

@media (max-width:1194px){
    #content .movie .imgWrapper{ height:350px; }
    #section{width: calc( 100% - 30px ) ;}
    #content .movie{width:24%;}
    #content .movie img{ position:relative; left:50%; transform:translate(-50%) }
    #content{width:100%;}
    #content .movie b{width:100%;}
    
}
@media (max-width:880px){
    #content .movie{width:30%;}
}
@media (max-width:700px){
    #content .movie{width:30%;}
    #content .movie .imgWrapper{ height:85%; }
    #content .movie img{width:100%; height:fit-content}
}

@media(max-width:490px) {
    #content .movie a{gap:0px;}
    #section{width: calc( 100% - 30px ) ;}
    #rec_wrap{margin:30px auto;}
    #title{
        font-weight: 700;
        font-size:15px;
    }
    #rec_wrap .alert_font{font-size:12px;}
    #con_box{overflow-x: scroll;}
    #content{
        grid-template-columns: repeat(3, 1fr);
        row-gap:20px;
    }
    #content .movie b{
        font-size:13px;
    }
}