*{padding:0 ;margin:0;box-sizing: border-box;}
#section{width:1000px;margin:100px auto;}
.dv-rate{
    float:left;
    display:block;
}

.dv-rate:not(:checked) > input {
    display:none;
}
.dv-rate:not(:checked) > label {
    float:right;
    width:30px;
    white-space :nowrap;
    cursor:pointer;
    color:#ccc;
}
.dv-rate > input:checked ~ label{
    color:#ffc700;
}
.dv-rate:not(:checked) > label:hover ,
.dv-rate:not(:checked) > label:hover ~ label{
        color:#deb217;
}
.dv-rate > input:checked + label:hover ,
.dv-rate > input:checked + label:hover ~ label,
.dv-rate > input:checked ~ label:hover ,
.dv-rate > input:checked ~ label:hover ~ label,
.dv-rate > label:hover ~ input:checked ~label {
    color:#C59B08;
}


#wrap{
    width:100%;
}
#title{
    font-size: 23px;
    margin: 50px 0;
}
.content{
    width:100%;
    font-size:23px;
}
.t_input, .select_m{
    display:flex;
    flex-direction: column;
    margin-bottom:60px;
    row-gap:20px;
}
.t_input input, .select_m input{
    height:60px;
    font-size:17px;
    padding:0 20px;
    outline: 0;
}
.select_m{position:relative;}
.search-result{
    width:100%;
    height:500px;
    position:absolute;
    top:108px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    background:#fff;
    flex-wrap:wrap;
    overflow-y: scroll;
    /* border:1px solid #ccc; */
    z-index:900;
    border-radius: 0 0 10px 10px;
    padding:10px;
    box-shadow:2px 5px 8px 3px rgba(0,0,0,0.3);
}
.bi-x-circle{
    display:flex;
    position:absolute;
    height:28px; width:28px;
    right:10px; top:63px;
    font-size: 30px;
    background:white;
    border-radius: 50%;
    cursor:pointer;
}
::-webkit-scrollbar{
    background:rgba(0,0,0,0.6); width:15px; height:0px;
    border-radius: 10px 10px 10px 0;
}
::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,0.7);; border-radius: 20px;
}
.movie_p{
    width:20%;
    height:300px;
    /* position:relative;
    left:50%; transform:translate(-50%); */
}
.movie_p img{
    width:180px;
    height:257px;
    cursor: pointer;
}
.movie_p p{
    width:180px;
    text-align:center;
    font-size:15px;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
#star{
    height:100px;
}
.dv-rate{margin:15px 0;}
#movie_point{
    width:100%;
    margin:50px 0;
}
.point_wrap{
    margin-top:15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:15px;
}
.point{width:fit-content; height:fit-content;}
.pointInput{
    opacity: 0;
    position:absolute;
}
.ckeM{
    width:100px;
    text-align: center;
    font-size: 17px;
    display:inline-block;
    border-radius:10px;
    border:1px solid #105652;
    padding:5px;
    cursor: pointer;
}
.pointInput:checked + .ckeM{
    color:#fff;
    background:#105652;
    transition: all 0.5s;
}
#detail_input{
    width:100%;
    display:flex;
    flex-direction:column;
}
#de_con{
    width:1000px;
    height:300px;
    resize:none;
    outline: none;
    padding: 20px;
    margin:15px 0;
}
#bt_wrap{
    width:350px;
    margin:50px auto;
    margin-bottom:50px;
    display:flex;
    justify-content: space-between;
}
#bt_wrap button{
    width:130px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border:0;
    border-radius:10px;
    cursor: pointer;
}
#bt_wrap button:nth-child(1){
    border:1px solid #B91646;
    color:#B91646;
    background:#fff;
}
#bt_wrap button:nth-child(2){
    background:#B91646;
    color:#fff;
}
@media (max-width:1194px) {
    #section{width:calc(100% - 30px);}
    #wrap{width:100%; margin: 0 auto;}
    .movie_p{width:fit-content; height:fit-content; margin-bottom:15px; position:relative;
        left:50%; transform:translate(-50%);}
    .movie_p img{height:250px; position:relative; left:50%; transform:translate(-50%);}
    #de_con{width: 100%;}
    .search-result{top:110px;}
}
@media (max-width:490px) {
    *,#t_input,#search_m{font-size:12px;}
    #title{margin:20px auto;}
    #de_con{width:90vw;height:200px;}
    input[type=text]{
        height:30px;
    }
    .t_input, .select_m{
        row-gap:5px;
        margin-bottom:20px;
    }
    .search-result{
        grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    }
    #star{height:30px;}
    .dv-rate label i{font-size: 20px; width:20px;}
    .t_input label, .select_m label,#detail_input label,p{font-size:15px;font-weight:700;}
    /* .search-result{top:60px;} */
    .movie_p{width:fit-content; height:fit-content; margin-bottom:15px;}
    .movie_p img{width:105px; height:150px;}
    .movie_p p{font-size: 10px;}
    .point_wrap{gap:3px;}
    .point{margin:5px 0;}
    .ckeM{font-size:12px; width:80px;}
    #detail_input{width:100%;}
    #de_con{margin: 10px 0;}
    #bt_wrap{width:190px;}
    #bt_wrap button{
        width:70px;padding:3px 0;font-size: 12px;border-radius: 7px;}
}
