:root{
    --bs-green: #0b421a;
    --bs-white: #fffcfc;
    --bs-beige: #eac784;
    --bs-brown: #362415;
    --bs-gray: #604c4c;
}
a {
    text-decoration: none;
    color: inherit;
}
#section{
    width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}
.board_list_wrap {
    padding: 50px;
}

.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}

.board_list_head {
    border-top: 2px solid var(--bs-green);
    border-bottom: 2px solid var(--bs-brown);
}

.board_list_body .item {
    border-bottom: 1px solid var(--bs-gray);
}

.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

.board_list_head > div {
    font-weight: 600;
}

.board_list .num {
    width: 10%;
}

.board_list .tit {
    width: 55%;
}

.board_list_body div.tit {
    text-align: left;
}

.board_list_body div.tit a:hover {
    text-decoration: underline;
}

.board_list .writer {
    width: 10%;
}

.board_list .date {
    width: 15%;
}

.board_list .view {
    width: 10%;
}

/* paging */
.paging {
    margin-top: 30px;
    text-align: center;
}

.paging a {
    display: inline-block;
    vertical-align: middle;
}

.paging a.bt {
    width: 30px;
    height: 30px;
    background-color: var(--bs-beige);
    background-image: url(../images/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}

.paging a.bt:hover {
    background-color: #deac4b;
}

.paging a.first {
    background-position: 10px -40px;
}

.paging a.prev {
    margin-right: 5px;
    background-position: 10px 10px;
}

.paging a.next {
    margin-left: 5px;
    background-position: -40px 10px;
}

.paging a.last {
    background-position: -40px -40px;
}

.paging a.num {
    margin: 0 5px;
}

.paging a.num.on {
    color: #cddbf6;
}

.paging a.num:hover {
    text-decoration: underline;
}